{% extends "base.html" %}
{% block title %}股市觀測站{% endblock %}
{% block headmessage %}<h2>【{{ct.name}}-股市觀測站】</h2>{% endblock %}
{% block content %}
<!-- <table class="table table-striped">

    <tbody>
       
        <tr>
            <td>{{item.pdate}}</td>
        </tr>
        <tr>
            <td>{{item.content}}</td>
        </tr>
        
    </tbody>
</table> -->


{% for item in companies %}

<a class="btn btn-sm btn-outline-primary" href="/stockinfo/{{item.id}}/">
    {{item.name}}
</a>
{% endfor %}

<hr>
{% for item in companies %}
    <tr>
        <td>{{item.pdate}}</td>
    </tr>
{% endfor %}

{% endblock %}