{% extends "base.html" %}
{% block title %}股市觀測站{% endblock %}
{% block headmessage %}<h2>【{{ct.name}}-股市觀測站】</h2>{% endblock %}
{% block content %}
<!-- <table class="table table-striped">

    <tbody>
       
        <tr>
            <td>{{item.pdate}}</td>
        </tr>
        <tr>
            <td>{{item.content}}</td>
        </tr>
        
    </tbody>
</table> -->

<div style="margin: 5px;">
    <form action="/stockinfo/" method="POST">
        <!-- 避免跨平台攻擊 -->
        {% csrf_token %}
        <!-- 這裡管理送出去的東西 -->
        <select name="comp">
            {% for item in companies %}
                <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <!-- 送出 -->
        <input type="submit"  value="送出">
    </form>
    
</div>



<div>
    {% for item in companies %}
    <a class="btn btn-sm btn-outline-primary" style="margin:2px" href="/stockinfo/{{item.id}}/">
        {{item.name}}
    </a>
    {% endfor %}
</div>



<hr>
{% for item in companies %}
    <tr>
        <td>{{item.pdate}}</td>
    </tr>
{% endfor %}

{% endblock %}