{% extends "base.html" %}
{% block title %}網頁標題{% endblock %}
{% block headmessage %}<h2></h2>{% endblock %}
{% block content %}
<h3>【歡迎】</h3>
<p style="text-align: center;">
    {% if name %}
    歡迎{{name}}
    {% else %}
    陌生人
    {% endif %}
</p>

<h3>【筆記】</h3>
<p>
    可取用views裡面index裡面的變數<br>
    用法:{ { 變數 } }<br>
    (空格要去掉) <br>
    <br>
    # { { 變數 } }<br>
    此處會被渲染(render)，會檢查雙大括號，會回去func找有沒有該變數<br>
    <br>
    # 想要寫條件要加上{ % 條件 % }<br>
</p>




<h3>【從資料庫抓資料】</h3>
<br>
<h5>※表格呈現</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">編號</th>
            <th scope="col">新聞標題</th>
            <th scope="col">日期</th>
            <!-- <th scope="col">原始網址</th> -->
        </tr>
    </thead>
    <tbody>
        {% for item in get_news %}
        <tr>
            <!-- <td>{{item.id}}</td> -->
            <!-- {{forloop.counter}}自己的編碼，不是自動遞增的。{{forloop.counter0}}就是從0開始 -->
            <td>{{forloop.counter}}</td>
            <!-- 要讓TITLE點下去後到我們自己的頁面 -->
            <td><a href="/show/{{item.id}}/" style="text-decoration:none; color:black">{{item.title}}</a><br>
                <a href="{{item.url}}"class="btn btn-sm btn-outline-primary">原始出處</a>
            </td>
            <td>{{item.pdate}}</td>
            <!-- <td>{{item.url}}</td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<h5>※列表方式</h5>
<ul>
    {% for item in get_news %}
    <li><a href="{{item.url}}">{{item.title}}</a>{{item.pdate}}/</li>
    {% endfor %}
</ul>
<br>
<h5>※原始資料</h5>
{{get_news}}

{% endblock %}