{% extends "base.html" %}
{% block title %}MongoDB Test{% endblock %}
{% block headmessage %} <h2>MongoDB Test</h2> {% endblock %}
{% block content %}
<input type=text value="France" id="code" required>
<a class="btn btn-primary" id="btn1">Load</a>
<div id="target">N/A</div>

<script>
    $(document).ready(function () {
        $('#btn1').click(function (event) {
            var code = $('#code').val();
            console.log(code);
            $.ajax({
                //JQ只允許抓自己的網址，而且要一模一樣
                //127.0.0.1  這裡一定要跟你打進去的網址一樣
                //http://localhost:8000/jquery-test/
                //http://127.0.0.1:8000/jquery-test/
                url: "http://127.0.0.1:8000/api/mongo/" + code + "/",

                success: function (result) {
                    var data = "<ul>";
                    result['data'].forEach((element) => {
                        data += "<li>" + element + "</li>" ;
                        
                    });
                    
                    $('#target').html(data);
                },
                error: function (thrownError,err) { console.log("錯誤：" +thrownError+ err) }
            });

        });


    });
</script>

{% endblock %}